@font-face {
    font-family: 'letra1';
    src: url(letra/Memsmark!\ Demo.ttf);
}
@font-face {
    font-family: 'letra2';
    src: url(letra/monof55.ttf);
}
html {
    background-image: url(imgs/image1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scrollbar-width: thin;
    scrollbar-color: rgb(7, 2, 54) transparent;
}
body {
    font-family: 'letra2', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    color: #ffffff;
}
header {
    background-color: rgb(4, 4, 66);
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: 'letra1';
    letter-spacing: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
nav{

    background-color: black;

    text-align: center;

    position:relative;

    top:-25px;

}
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    justify-items: center;
}

.card {
    background-color: rgb(45, 49, 71);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 100%;
    max-width: 350px;  
    min-height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card img {
    display: block;
    margin: 20px auto 0;    
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-width: 100%;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 16px 42px rgba(0, 0, 0, 0.15);
}

h2 {
    text-align: center;
    padding: 10px;
    margin-top: 0;
    background-color: white;
    border-radius: 10px;
    color: rgb(45, 49, 71);
    box-shadow: 10px 5px 15px black;
}

h3 {
    color: #c9d1d9;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    line-height: 1.6;
}
@media screen and (max-width: 758px) {
    main {
        display: flex;            
        flex-direction: column;    
        align-items: center;      
        text-align: center;       
        gap: 15px;               
    }

    header {
        margin: 0;                
        font-size: 14px;
        text-align: center;
    }

    .card {
        width: 90%;
        max-width: 400px;          
        margin: 0 auto;          
        margin-bottom: 15px;
        box-sizing: border-box;
    }
}
