header {
    background-color: rgb(4, 4, 66);
    padding: 1%;
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    font-family: 'letra1';
}

@font-face {
    font-family: 'letra1';
    src: url(letra/Memsmark!\ Demo.ttf);
}

@font-face {
    font-family: 'letra2';
    src: url(letra/monof55.ttf);
}

html {
    justify-content: start;
    background-image: url(imgs/image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
}

article {
    background-color: rgb(45, 49, 71);
    color: white;
}

body {
    font-family: 'letra2';
}

footer {
    background-color: rgb(45, 49, 71);
    color: white;
}

section {
    background-color: rgba(0, 0, 0, 0.308);
    min-height: 180vh;
    width: 98%;
    margin: auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.a1 {
    margin-top: 1%;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.a1>h1 {
    text-shadow: 10px 10px 10px black;
}


.a2 {
    left: 6%;
    margin-top: 1%;
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
    padding-left: 10px;
    position: absolute;
    padding-right: 10px;
}

.a2>p {
    padding-left: 10px;
}

.p1 {
    left: 57%;
    right: 40%;
    position: absolute;
    border-radius: 10px;
    margin-top: 1%;
    width: 40%;
    height: 45%;
    background-size: cover;
    box-shadow: 0px 0px 15px black;
    z-index: -1;
}

.a3 {
    left: 6%;
    margin-top: 12%;
    position: absolute;
    border-radius: 10px;
    width: 49%;
    font-size: larger;
    padding-left: 10px;
}

.a4 {
    height: auto;
    width: 48%;
    position: absolute;
    margin-top: 26%;
    border-radius: 10px;
    left: 6%;
    display: flex;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
}

.a5 {
    margin-top: 33%;
    position: absolute;
    border-radius: 10px;
    width: 49%;
    left: 6%;
    padding-left: 1%;
    height: auto;
}

.a6 {
    text-align: center;
    position: absolute;
    margin-top: 46%;
    width: 34%;
    height: auto;
    left: 6%;
    border-radius: 10px;
}

.a6>table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 8px;
    table-layout: fixed;
}

th,
td {
    border: 1px solid #444;
    padding: 12px;
}

th {
    background-color: #0b2341;
    font-size: 16px;
    font-weight: bold;
}

.a7 {
    margin-top: 46%;
    position: absolute;
    border-radius: 10px;
    width: 50%;
    height: auto;
    right: 6%;
    padding-left: 1%;
}

.a7>table {
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
    margin: 8px auto 0 auto;
}

.a8 {
    margin-top: 59%;
    position: absolute;
    border-radius: 10px;
    width: 50%;
    height: auto;
    right: 6%;
    padding-left: 1%;
    display: flex;
}

.a9 {
    margin-top: 69%;
    position: absolute;
    border-radius: 10px;
    width: 60%;
    height: 8%;
    left: 6%;
    padding-left: 1%;
    font-size: larger;
}

.s2 {
    margin-top: 1%;
}

.a10 {
    margin-top: 1%;
    right: 6%;
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
    padding-left: 10px;
    position: absolute;
    padding-right: 10px;
}

.p2 img {
    right: 57%;
    position: absolute;
    border-radius: 10px;
    margin-top: 1%;
    width: 40%;
    height: 45%;
    background-size: cover;
    box-shadow: 0px 0px 15px black;
    z-index: -1;
}

.a11 {
    right: 6%;
    margin-top: 11%;
    position: absolute;
    border-radius: 10px;
    width: 48%;
    font-size: larger;
    padding: 10px;
}

.a11>table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    table-layout: fixed;
}

.a11 th,
.a11 td {
    border: 1px solid #444;
    padding: 12px;
}

.a11 th {
    background-color: #0b2341;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.a12 {
    left: 3%;
    margin-top: 42%;
    position: absolute;
    border-radius: 10px;
    width: 47%;
    text-align: center;
    padding: 10px;
}

.a12>p {
    font-size: larger;
    margin-top: 8px;
}

.p3 img{
    right: 6%;
    position: absolute;
    border-radius: 10px;
    margin-top: 42%;
    width: 40%;
    height: 45%;
    background-size: cover;
    box-shadow: 0px 0px 15px black;
    z-index: -1;
}

.a13 {
    left: 3%;
    margin-top: 54%;
    position: absolute;
    border-radius: 10px;
    width: 47%;
    padding: 12px;
    font-size: larger;
}

.a13>ol {
    margin-left: 20px;
    margin-top: 10px;
}

.f1 {
    margin-top:69.5%;
    position: absolute;
    border-radius: 10px;
    width: 47%;
    left: 3%;
    padding: 15px;
    font-size: larger;
    background: rgb(13, 18, 43);
}
