header {
    background-color: rgb(4, 4, 66);
    padding: 5px;
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    font-family: 'letra1' ;
}

@font-face {
    font-family: 'letra1';
    src: url(letra/Memsmark!\ Demo.ttf);
}
@font-face {
    font-family: 'letra2';
    src: url(letra/monof55.ttf);
}

html{
    font-family:letra2;
    background-image: url(imgs/image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150vh;
}

article {
    background-color: rgb(45, 49, 71);
    box-shadow: black 10px 5px 15px;
    padding: 5px;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 2px;
    border-radius: 10px;
    color: rgb(252, 252, 252);
    width: 570px;
}

.t1 {
    top: 21%;
    position: absolute;
    left: 5%;
    box-sizing: border-box;
    z-index: 10;
}

.img1 {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.t2 {
    top: 21%;
    position: absolute;
    left: 50%;
    z-index: 11;
}

.img2{
    width: 100px;
    height: auto;
}

.t3 {
    margin-top: 10%;
    position: absolute;
    left: 50%;
    top: 60%;
}

.t4 {
    margin-top: 10%;
    height: 440px;
    position: absolute;
    left: 5%;
    top: 50%;
}

.t1:hover, .t2:hover, .t3:hover, .t4:hover {
    background-color: #0b2341;
    transform: scale(1.1);
    transition: all 1s ease-in-out;
    z-index: 10;
}

h2 {
    background-color: #0b2341;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    height: 40px;
    margin-top: 0px;
}

table {
    margin-top: 20px;
    border: solid #444;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

th,
td {
    border: 1px solid #444;
    padding: 12px;
}

th {
    background-color: #0b2341;
    font-size: 16px;
    font-weight: bold;
}

tr:hover {
    background-color: #000000;
    transition: 0.3s;
}