@keyframes titulo{

    0% , 100% {
        color: #4d92ad;
        text-shadow: 0px 0px 5px #000000;
    }
    50% {
        color: #38BDF8;
        text-shadow: 0px 0px 20px #22D3EE;
    }

}
@keyframes creditos {
    to {
        left: 100%;
    }
}
@font-face {
    font-family: la;
    src: url(letra/Memsmark!\ Demo.ttf);
}
@font-face {
    font-family: la2;
    src: url(letra/monof55.ttf);
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: la;
}
details {
    position: absolute;
    right: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.493);
    border: 2px solid #000000;
    color: white;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    width:400px;
    list-style: none;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

summary {
    background-color: #4d92ad;
    border: 2px solid #000000;
    text-align: right;
    padding: 8px 12px;
    color: #000000;
    border-radius: 8px;
    list-style: none;
}

ul, li {
    list-style: none;
}

details:not([open]) {
    width: 50px;
    height: auto;
    padding: 0;
    line-height: 0;
}

details[open] summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.ti{

    font-family:la;

}
li{

    font-family:la2;

}
body {
    transition: background-image 0.5s ease-in-out;
    background-image: url(imgs/fd2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #E2E8F0;
}
header {
    background-color: #06152cbb;
}
section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    justify-content: center;
}
.tittle {
    color: #4d92ad;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    transform: translateY(-145px);
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    animation: titulo 3s infinite;
}
.welcome {
    font-family: la2;
    position: relative;
    top: 110px;
    left: 0%;
    right: 0;
    margin-inline: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 200px;
    font-size: 25px;
    border-radius: 20px;
    background-color: rgba(56, 189, 248, 0.15);
    border: 3px solid #38BDF8;
    color: #E2E8F0;
    text-shadow: 0px 0px 5px #22D3EE;
    box-shadow: 5px -5px 10px rgba(34, 211, 238, 0.2);
}
.caja {
    box-sizing: border-box;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 40px;
    transform: translateY(170px) translateX(-25px);
    cursor: pointer;
}
.inf1, .inf2, .inf3, .inf4 {
    filter: blur(0px);
    background-color: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(2px);
    position: fixed;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px #000000;
    border-radius: 1em;
    font-size: 25px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    padding-top: 110px;
    padding-bottom: 110px;
    transform: translateY(-25px);
}
.caja:hover .inf1,
.caja:hover .inf2,
.caja:hover .inf3,
.caja:hover .inf4 {
    opacity: 1;
}
.bkgd, .bkgd1, .bkgd2, .bkgd3 {
    filter: blur(0px);
    background-color: rgba(0, 0, 0, 0.235);
    position: relative;
    width: 300px;
    height: 300px;
    backdrop-filter: blur(2px);
    border: 3px solid rgba(255, 255, 255, 0.815);
    border-radius: 1em;
    box-shadow: 0px 0px 15px 05px rgba(255, 255, 255, 0.637);
    background-size: cover;
}
.bkgd {
    background-image: url("imgs/i1.png");
}
.bkgd1 {
    background-image: url("imgs/i2.png");
}
.bkgd2 {
    background-image: url("imgs/i3.png");
}
.bkgd3 {
    background-image: url("imgs/i4.png");
}
.creditos {
    animation: creditos 15s linear infinite;
    color: #94A3B8;
    position: relative;
    bottom: -190px;
    left: -525px;
}
@media (max-width: 768px) {
    html{

        height: 900px;

    }
    details{

        right: 0px;

        width: 320px;

    }
    body {
        background-color: #000000;
    }
    .tittle {
        position: relative;
        font-size: 40px;
        transform: translateY(-100px);
    }
    .welcome {
        top: 100px;
        width: 80%;
    }
    section{
    transform: scale(0.6) translateX(-50px) translateY(-150px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 145px;
    }
    .caja {
    margin-left: 0px;
    transform:translateX(0px);
    display:block; 
    }
    .bkgd, .bkgd1, .bkgd2, .bkgd3 {
        width: 200px;
        height: 200px;
    }
    .inf1, .inf2, .inf3, .inf4 {
        font-size: 20px;
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .creditos {
    animation: creditos 15s linear infinite;
    color: #94A3B8;
    position: relative;
    bottom: 20px;
    left: -525px;
}
}
    @media (display-mode: fullscreen) {
    .tittle {
        font-size: 90px;
        transform: translateY(-20vh);
    }
    .welcome {
        top: 15vh;
    }
    .caja {
    margin-left: 40px;
    transform: translateY(220px) translateX(-25px);
    }
    .inf1, .inf2, .inf3, .inf4 {
        transform: translateY(-25px);
    }
    .bkgd, .bkgd1, .bkgd2, .bkgd3 {
        width: 300px;
        height: 300px;
    }
    .creditos {
    animation: creditos 15s linear infinite;
    color: #94A3B8;
    position: relative;
    bottom: -320px;
    left: -525px;
}
}